.btn-primary {
    --bs-btn-bg: #4f84a5;
    --bs-btn-border-color: #2e6da4;
    --bs-btn-hover-bg: #2e6da4;
    --bs-btn-hover-border-color: #2e6da4;
    --bs-btn-active-bg: #2e6da4;
}

.form-check-input:checked {
    background-color: #4f84a5;
}

.form-label {
    font-weight: 500;
    line-height: 1.2;
}

.form-select {
    color: #555;
}

.navbar {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-width: 0 0 1px;
}

.navbar-brand {
    color: rgba(0,0,0,0.65);
}