{% load i18n staticfiles bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% trans 'Polytechnique.org' %}</title>

    {% bootstrap_css %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}

</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <div class="container">
            <a class="navbar-brand m-b-0">{% trans 'Polytechnique.org' %}</a>
            {% block login-nav-button %}
            {% if user.is_authenticated %}
                <p class="navbar-right">{{ user.fullname }} <a href="{% url 'logout' %}">{% trans 'Log out' %}</a></p>
            {% else %}
                <a class="navbar-button navbar-right" href="{% url 'login' %}">{% trans 'Log in' %}</a>
            {% endif %}
            {% endblock %}
        </div>
    </nav>

    <div class="container" style="margin-top: 150px;">
    {% block content %}{% endblock %}
    </div>

</body>
</html>
