{% load i18n static django_bootstrap5 %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}" type="image/png">

    <title>{% trans 'Polytechnique.org' %}</title>

    {% bootstrap_css %}
    <script src="{% static 'jquery-3.7.1.js' %}"></script>
    {% bootstrap_javascript %}

    <style type="text/css"><!--
        .navbar-brand-logo {
            padding: 5px;
        }
        .navbar-brand-logo>img {
            height: 100%;
        }
    --></style>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-brand-logo"><img src="{% static 'logo-xorg.png' %}"></a>
                <a class="navbar-brand m-b-0">{% trans 'Polytechnique.org' %}</a>
            </div>
            <ul class="nav navbar-nav navbar-right" style="display:flex; align-items: center;">
            {% if user.is_authenticated %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'profile' %}">{{ user.fullname }}</a></li>
            <li class="nav-item" style="padding-left: 10px;">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link" style="background: none; border: none; padding: 0; cursor: pointer;">{% trans 'Log out' %}</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
            {% endif %}
            {% with "navbar-form navbar-left hidden-xs" as extra_classes %}
            {% include "./language_selection.html" %}
            {% endwith %}
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 10em;">
    {% if MAINTENANCE %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {% trans '<strong>Warning!</strong> Due to a maintenance operation, some features on this website are currently disabled. No data will be saved and the password change page is temporarily disabled.' %}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
    </div>

    <div class="visible-xs-block">
        <hr/>
        <div class="container">
            {% with "" as extra_classes %}
            {% include "./language_selection.html" %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
