{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans "Frequently asked questions" %}</h2>

{% url 'login' as login_url %}
{% url 'password_reset' as pwd_reset_url %}
{% url 'profile' as profile_url %}

<h3>{% trans "My email address is not recognized. What is my login?" %}</h3>
<p>{% blocktrans %}If you studied at the École polytechnique, your Polytechnique.org identifier is <tt>firstname.lastname.promotion</tt>. For example if Albert Bonnaventure is a polytechnicien who entered the school in 1842, his login will be <tt>albert.bonnaventure.1842</tt>. If Catherine Du Chateau defended the PhD that she prepared at the École polytechnique in 2345, her login will be <tt>catherine.du-chateau.d2345</tt>. If nobody else shared her name in Polytechnique.org's directory, she can also use <tt>catherine.du-chateau</tt> to log in.{% endblocktrans %}</p>
<p>{% blocktrans %}The email addresses provided by Polytechnique.org can also be used, like <tt>albert.bonnaventure.1842@polytechnique.org</tt> and <tt>catherine.dupont.d2345@alumni.polytechnique.org</tt>.{% endblocktrans %}</p>
<p>{% blocktrans with contact_mail_link='<a href="mailto:contact@polytechnique.org">contact@polytechnique.org</a>' %}If you did not study at the École polytechnique, you may still have an account, for example if you are participating in activities of a <i>Groupe X</i> or if you are a school staff. Such an account is identified by an email address. Please contact us at {{ contact_mail_link }} if you encounter difficulties using your account.{% endblocktrans %}</p>

<h3>{% trans "I have forgotten my password. How do I reset it?" %}</h3>
<p>{% blocktrans %}You need to enter your login in the <a href="{{ pwd_reset_url }}">password recovery page</a> and check the mailbox associated with your Polytechnique.org email address.{% endblocktrans %}</p>

<h3>{% trans "I have forgotten my password and I no longer receive the Polytechnique.org emails. Could you help me?" %}</h3>
<p>{% blocktrans with contact_mail_link='<a href="mailto:contact@polytechnique.org">contact@polytechnique.org</a>' %}Yes, of course. Please send your request and some details which will allow Polytechnique.org team to check your identity (birth date, scan of your ID card, mobile phone number which has been defined in the directory, etc.) to {{ contact_mail_link }}. Please be aware that answering to all the messages we receive takes much time, so we may reply several weeks later. This is why it is so important to keep your Polytechnique.org email address working.{% endblocktrans %}</p>

<h3>{% trans "I studied at the École polytechnique and I do not have an account. Where do I register?" %}</h3>
<p>{% blocktrans with xorg_link='<a href="https://www.polytechnique.org">https://www.polytechnique.org</a>' xorg_reg_link='<a href="https://www.polytechnique.org/register">https://www.polytechnique.org/register</a>' %}You need to create an account on {{ xorg_link }} in order to create a Polytechnique.org email address. The registration page is {{ xorg_reg_link }}. Please note that only alumni of the École polytechnique can register on {{ xorg_link }}.{% endblocktrans %}</p>
<p>{% blocktrans with xorg_search_link='<a href="https://www.polytechnique.org/search">https://www.polytechnique.org/search</a>' %}If the registration page does not recognize your name, search your profile in Polytechnique.org's directory, {{ xorg_search_link }}. If your profile exists, please check the special characters (é, è, ç, etc.) and your school ID if you have one. It may also mean that your account has already been activated (in which case, please take a look at the previous questions in order to recover your password).{% endblocktrans %}</p>

<p>{% blocktrans with school_cnil_link='<a href="https://www.polytechnique.edu/autorisationsCNIL/vouseteseleves.php">https://www.polytechnique.edu/autorisationsCNIL/vouseteseleves.php</a>' %}If your profile does not exist in Polytechnique.org's directory, you need to make the École polytechnique transmit your personal information to Polytechnique.org. If you are still studying, please go to {{ school_cnil_link }}, read its content and tick the checkboxes for Polytechnique.org and AX.{% endblocktrans %}</p>

<h3>{% blocktrans with xorg_link='<a href="https://www.polytechnique.org">www.polytechnique.org</a>' %}I have just created my account on {{ xorg_link }} and it does not work. What's wrong?{% endblocktrans %}</h3>
<p>{% blocktrans with xorg_link='<a href="https://www.polytechnique.org">https://www.polytechnique.org</a>' auth_xorg_link='<a href="https://auth.polytechnique.org">https://auth.polytechnique.org</a>' %}When creating an account on {{ xorg_link }}, it takes some time to automatically enable the account everywhere (at most an hour) and in the meantime, {{ auth_xorg_link }} does not know a thing about you. This is why you have to wait a little bit before being able to log in.{% endblocktrans %}</p>

<h3>{% blocktrans with ax_link='<a href="https://ax.polytechnique.org">https://ax.polytechnique.org</a>' %}How do I log in {{ ax_link }}?{% endblocktrans %}</h3>
<p>{% blocktrans with ax_link='<a href="https://ax.polytechnique.org">https://ax.polytechnique.org</a>' auth_xorg_link='<a href="https://auth.polytechnique.org">https://auth.polytechnique.org</a>' %}Make sure you click on the big button "Je me connecte" on the front page. This would redirect you to {{ auth_xorg_link }}. If you encounter an error, be sure to write down the address of the website where the error occurs ({{ ax_link }} or {{ auth_xorg_link }}) before reporting a problem.{% endblocktrans %}</p>

<p>{% blocktrans with ax_login_help_link='<a href="https://ax.polytechnique.org/page/comment-acceder-au-site">https://ax.polytechnique.org/page/comment-acceder-au-site</a>' %}The AX published a document which describes how to connect to its website (with explainations and screenshots) here: {{ ax_login_help_link }}.{% endblocktrans %}</p>

<h3>{% blocktrans with xorg_link='<a href="https://www.polytechnique.org">https://www.polytechnique.org</a>' xnet_link='<a href="https://www.polytechnique.net">https://www.polytechnique.net</a>' %}How do I log in {{ xorg_link }} and {{ xnet_link }}?{% endblocktrans %}</h3>
<p>{% blocktrans with auth_xorg_link='<a href="https://auth.polytechnique.org">https://auth.polytechnique.org</a>' %}Both these websites automatically redirect to {{ auth_xorg_link }} when accessing a page which requires authentication. They also provide login buttons to authenticate on every page.{% endblocktrans %}</p>

<h3>{% trans "I have found a bug! How can I report it?" %}</h3>
<p>{% blocktrans with github_xorgauth_issues_link='<a hred="https://github.com/Polytechnique-org/xorgauth/issues">https://github.com/Polytechnique-org/xorgauth/issues</a>' %}The way which has the highest odds of getting a quick response is by creating a new issue on the project's issue tracker: {{ github_xorgauth_issues_link }}.{% endblocktrans %}</p>
<p>{% blocktrans with support_mail_link='<a href="mailto:support@polytechnique.org">support@polytechnique.org</a>' %}If the bug can not be public, it is possible to send en email to the support, {{ support_mail_link }}. Please be aware that answering to all the messages we receive takes much time, so we may reply several weeks later.{% endblocktrans %}</p>

<h3>{% trans "I would like to help improving the services managed by Polytechnique.org (developing new features, modernizing the web pages, helping users, writing more documentation, etc.). Where can I meet Polytechnique.org's members?" %}</h3>
<p>{% blocktrans with ca_mail_link='<a href="mailto:ca@staff.polytechnique.org">ca@staff.polytechnique.org</a>' titus_link='<a href="https://titus.binets.fr/">https://titus.binets.fr/</a>' %}The members of Polytechnique.org live in several cities and countries. We use email and IRC a lot, so if you are interested in joining us, please send an email to {{ ca_mail_link }} or leave a message on channel <tt>#poly.org</tt> on chat.freenode.net, for example by joining <tt>#freenode_#poly.org:matrix.org</tt> on {{ titus_link }} or using the <a href="https://webchat.freenode.net/">webchat</a>.{% endblocktrans %}</p>

{% if user.is_authenticated %}
<h3>{% trans "How do I go back to the front page?" %}</h3>
<p>{% blocktrans %}By clinking on <a href="{{ profile_url }}">this link</a>.{% endblocktrans %}</p>
{% else %}
<h3>{% trans "How do I go back to the login form?" %}</h3>
<p>{% blocktrans %}By clinking on the <a href="{{ login_url }}">Log in</a> link.{% endblocktrans %}</p>
{% endif %}

{% endblock %}
