{% load i18n %}
<form class="{{ extra_classes }}" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select class="form-control" name="language" onchange="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button id="change-language-button-{{ extra_classes|slugify }}" type="submit" class="btn btn-default">Go</button>
    <!-- the button above is useless if js is enabled; and this appears to be more reliable than <noscript> -->
    <script>document.getElementById("change-language-button-{{ extra_classes|slugify }}").style.display="none";</script>
</form>
