{% extends 'base.html' %}
{% load i18n staticfiles bootstrap3 %}

{% block content %}

{% bootstrap_messages %}

<h2>{% trans "List of consents given to web sites" %}</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Client name</th>
            <th scope="col">Authorized scopes</th>
            <th scope="col">Expiration date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for consent in consents %}
    <tr>
        <td>{{ consent.client.name }}</td>
        <td>{{ consent.scope }}</td>
        <td>{{ consent.expires_at }}</td>
        <td>
            <form action="{{ request.path }}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="revoke" value="{{ consent.client.client_id }}" />
                <input type="submit" value="{% trans "Revoke" %}" class="btn btn-secondary" />
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
