{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>{% blocktrans with username=user.preferred_name %}Hello {{ username }}!{% endblocktrans %}</p>
        <p>{% trans "Welcome to Polytechnique.org's authentication service." %}</p>
        <p>{% trans "Here are some pages you can access while you are logged in:" %}</p>

        <ul>
        {% if view.user_has_consents %}
        <li><a href="{% url 'list_consents' %}">{% trans "List of consents given to web sites" %}</li>
        {% endif %}
        <li><a href="{% url 'password_change' %}">{% trans "Change your password" %}</li>
        {% if view.user_xorg_email %}
        <li><a href="https://ax.polytechnique.org/my-profile/preferences/contact-info">{% trans 'Update your profile on ax.polytechnique.org (click on "Je me connecte" if you get to the front page)' %}</li>
        <li><a href="https://www.polytechnique.org/emails/redirect">{% blocktrans with email=view.user_xorg_email %}Update your email redirections for {{ email }} on polytechnique.org{% endblocktrans %}</a></li>
        <li><a href="https://www.polytechnique.org/password/smtp">{% blocktrans with email=view.user_xorg_email %}Update your SMTP/NNTP password for {{ email }} on polytechnique.org{% endblocktrans %}</a></li>
        {% endif %}
        <li><a href="{% url 'faq' %}">{% trans "Frequently asked questions" %}</li>
        </ul>
    </div>
</div>

{% endblock %}
