<!DOCTYPE html>
<!-- Code from https://django-oidc-provider.readthedocs.io/en/v0.5.x/sections/examples.html

In order to use this reliying party, you need to create a client with the given
client ID and redirect URL in a provider. From python manage.py shell:

from oidc_provider.models import Client
c = Client(name='Test RP', client_id='123456', response_type='id_token token', redirect_uris=['http://localhost:8000/test-relying-party/'])
c.save()
-->
<html>
<head>

    <title>OIDC RP</title>

</head>
<body>

    <center>
        <h1>OpenID Connect RP Example</h1>
        <button id="login-button">Login</button>
    </center>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://www.sakimura.org/test/openidconnect.js"></script>

    <script type="text/javascript">
    $(function() {
        var clientInfo = {
            client_id : '123456',
            redirect_uri : 'http://localhost:8000/test-relying-party/'
        };

        OIDC.setClientInfo(clientInfo);

        var providerInfo = OIDC.discover('http://localhost:8000/openid');

        OIDC.setProviderInfo(providerInfo);
        OIDC.storeInfo(providerInfo, clientInfo);

        // Restore configuration information.
        OIDC.restoreInfo();

        // Get Access Token
        var token = OIDC.getAccessToken();

        // Make userinfo request using access_token.
        if (token !== null) {
            $.get('http://localhost:8000/openid/userinfo/?access_token='+token, function( data ) {
                alert('USERINFO: '+ JSON.stringify(data));
            });
        }

        // Make an authorization request if the user click the login button.
        $('#login-button').click(function (event) {
            OIDC.login({
                scope : 'openid profile email',
                response_type : 'id_token token'
            });
        });
    });
    </script>

</body>
</html>
