{% extends "registration/login.html" %}
{% load django_bootstrap5 i18n %}

{% block content %}

{% blocktrans %}The website you requested, <strong>{{ ext_url }}</strong>, requires an authentication.{% endblocktrans %}

<form method="post" action="{% url 'auth-groupex-login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% trans "Log in" as log_in_text %}
    {% bootstrap_button content=log_in_text button_type="submit" button_class="btn btn-primary btn-sm" %}

    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p><a href="{% url 'password_reset' %}" class="btn btn-primary btn-sm">{% trans 'Forgotten password?' %}</a></p>
<p><a href="{% url 'faq' %}">{% trans 'Frequently asked questions' %}</a></p>

{% endblock %}
