{% load i18n %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<!-- Code from https://django-oidc-provider.readthedocs.io/en/v0.5.x/sections/examples.html

In order to use this reliying party, you need to create a client with the given
client ID and redirect URL in a provider. From python manage.py shell:

from oidc_provider.models import Client
c = Client(name='Test RP', client_id='123456', response_type='id_token token', redirect_uris=['http://localhost:8000/test-relying-party/'])
c.save()
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% trans 'OIDC Relying Party' %}</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <center>
        <h1>OpenID Connect Relying Party Example</h1>
        <button id="login-button">Login</button><br><br>
        <div class="container" id="result"></div>
        <a href="/test-relying-party/">Reset URL hash variables</a><br><br>
        <a href="{{ base_url }}openid/end-session?next={{ base_url }}test-relying-party/">Log out</a><br><br>
    </center>
    {% if dev_accounts %}
    <div class="container">
        <p>{% trans 'Development accounts (password is "password"):' %}</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Human-readable ID' %}</th>
                    <th>{% trans 'AX ID' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Study year' %}</th>
                    <th>{% trans 'Admin' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Groups' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for account in dev_accounts %}
                <tr>
                    <td>{{ account.hruid }}</td>
                    <td>{% if account.ax_id %}{{ account.ax_id }}{% else %}<span style="font-style: italic;">None</span>{% endif %}</td>
                    <td>{{ account.type }}</td>
                    <td>{% if account.promo %}{{ account.promo }}{% else %}<span style="font-style: italic;">None</span>{% endif %}</td>
                    <td>{% if account.is_admin %}{% trans 'admin' %}{% endif %}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.groups.keys | join:", " }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://www.sakimura.org/test/openidconnect.js"></script>

    <script type="text/javascript">
    $(function() {
        var clientInfo = {
            client_id : '123456',
            redirect_uri : '{{ base_url }}test-relying-party/'
        };

        OIDC.setClientInfo(clientInfo);

        var providerInfo = OIDC.discover('{{ base_url }}openid');

        OIDC.setProviderInfo(providerInfo);
        OIDC.storeInfo(providerInfo, clientInfo);

        // Restore configuration information.
        OIDC.restoreInfo();

        // Get Access Token
        var token = OIDC.getAccessToken();

        // Make userinfo request using access_token.
        if (token !== null) {
            $.get('{{ base_url }}openid/userinfo/?access_token='+token, function( data ) {
                var result = '<table class="table table-striped" style="width: auto;"><thead><tr><th colspan="3" class="center">user info:</th></tr></thead><tbody>';
                $.each(data, function(key, value) {
                    result += '<tr><td align="right">' + JSON.stringify(key) + '</td><td>=</td><td>' + JSON.stringify(value) + '</td></tr>';
                });
                result += '</tbody></table>';
                $('#result').html(result);
            });
        }

        // Make an authorization request if the user click the login button.
        $('#login-button').click(function (event) {
            OIDC.login({
                scope : 'openid profile email xorg_groups xorg_study_years xorg_axid xorg_axinfo',
                response_type : 'id_token token'
            });
        });
    });
    </script>
</body>
</html>
