{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% trans "Log in" as log_in_text %}
    <div class="mb-3">
        {% bootstrap_button content=log_in_text button_type="submit" button_class="btn btn-primary btn-sm" %}
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p><a href="{% url 'password_reset' %}" class="btn btn-primary btn-sm">{% trans 'Forgotten password?' %}</a></p>
<p><mark>{% trans 'If you encounter a problem' %}</mark>, {% trans 'consult the' %} <a href="{% url 'faq' %}">{% trans 'frequently asked questions' %}</a>.</p>

{% endblock %}