{% extends "base.html" %}
{% load bootstrap3 i18n %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p><a href="{% url 'password_reset' %}" class="btn btn-primary">{% trans 'Forgotten password?' %}</a></p>
<p><a href="{% url 'faq' %}">{% trans 'I cannot connect' %}</a></p>

{% endblock %}
