{% extends "base.html" %}
{% load bootstrap3 i18n %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<form method="post" action="{% url 'password_reset' %}" class="form">
    {% csrf_token %}
    {% buttons %}
        <input type="submit" value="{% trans 'Password forgotten ?' %}" class="btn btn-primary" />
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
