{% extends 'base.html' %}
{% load i18n static bootstrap4 %}

{% block content %}<div id="content-main">

<form method="post" class="form">
    {% csrf_token %}

    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

    {% bootstrap_form form %}
    {% buttons %}
        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
    {% endbuttons %}

</form>

{% endblock %}
