{% extends 'base.html' %}
{% load i18n static bootstrap3 %}

{% block content %}

<h2>{% trans "Change your password" %}</h2>

<form method="post" class="form">
    {% csrf_token %}

    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

    {% bootstrap_form form %}
    {% buttons %}
        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
    {% endbuttons %}

    <script>
        // for some mysterious reason, these classes should already be there:
        // https://github.com/Pawamoy/django-zxcvbn-password/blob/master/src/zxcvbn_password/widgets.py#L84
        // https://github.com/Pawamoy/django-zxcvbn-password/blob/master/src/zxcvbn_password/widgets.py#L43
        // but they are not.
        document.getElementById("id_new_password1").classList.add("password_strength");
        document.getElementById("id_new_password2").classList.add("password_confirmation");
    </script>
    {{ form.media }}

</form>

{% endblock %}
